<div class="contacts-form">
	<div class="contacts-form__wrapper">
		<div class="contacts-form__header">
			<div class="contacts-form__title">Contact us</div>
		</div>
		<div class="contacts-form__grid">
			<div class="contacts-form__cell" style="width: 40.53%;">
				<div class="form-control required">
					<div class="form-control__label">Name</div>
					<div class="form-control__input">
						<input class="input  input--gray" type="text" name="" placeholder="Your Name">
					</div>
				</div>
				<div class="form-control required">
					<div class="form-control__label">Email</div>
					<div class="form-control__input">
						<input class="input  input--gray" type="email" name="" placeholder="example@gmail.com">
					</div>
				</div>
				<div class="form-control">
					<div class="form-control__label">Phone</div>
					<div class="form-control__input">
						<input class="input  input--gray  js-mask" type="text" name="" placeholder="+1 (646) 333-4545" data-mask="1 (999) 999-9999">
					</div>
				</div>
			</div>
			<div class="contacts-form__cell" style="width: 59.47%;">
				<div class="form-control required">
					<div class="form-control__label">Message</div>
					<div class="form-control__input">
						<textarea class="input  input--gray" placeholder="What do you need nonstantard door sizes?"></textarea>
					</div>
				</div>
				<div class="contacts-form__action">
					<button class="btn  btn-md">Send application</button>
					<div class="contacts-form__note"><sup>*</sup>– required fields</div>
				</div>
			</div>
		</div>
	</div>
</div>