<div class="form-block">
	<div class="form-block__wrapper">
		<div class="form-block__header">
			<div class="form-block__title">Shipping Info</div>
		</div>
		<div class="form-block__grid">
			<div class="form-block__cell" style="width: 50%;">
				<div class="form-control  form-control--error-important  required">
					<div class="form-control__label">First name</div>
					<div class="form-control__input">
						<input class="input" type="text" name="" placeholder="Your First Name">
					</div>
				</div>
			</div>
			<div class="form-block__cell" style="width: 50%;">
				<div class="form-control  form-control--error-important  required">
					<div class="form-control__label">Last name</div>
					<div class="form-control__input">
						<input class="input" type="text" name="" placeholder="Your Last Name">
					</div>
				</div>
			</div>
			<div class="form-block__cell" style="width: 50%;">
				<div class="form-control  form-control--error-important  required">
					<div class="form-control__label">E-mail</div>
					<div class="form-control__input">
						<input class="input" type="email" name="" placeholder="example@gmail.com">
					</div>
				</div>
			</div>
			<div class="form-block__cell" style="width: 50%;">
				<div class="form-control  form-control--error-important  required">
					<div class="form-control__label">Phone</div>
					<div class="form-control__input">
						<input class="input  js-mask" type="text" name="" placeholder="+1 (646) 333-4545" data-mask="1 (999) 999-9999">
					</div>
				</div>
			</div>
			<div class="form-block__cell" style="width: 50%;">
				<div class="form-control required">
					<div class="form-control__label">State/region</div>
					<div class="form-control__input input-def">
						<select class="select input-reg">
							<option>New Jersey</option>
							<option>Alaska</option>
							<option>Arizona</option>
							<option>Arkansas</option>
							<option>California</option>
							<option>Colorado</option>
							<option>Connecticut</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-block__cell" style="width: 50%;">
				<div class="form-control  form-control--error-important  required">
					<div class="form-control__label">City</div>
					<div class="form-control__input">
						<input class="input" type="text" name="" placeholder="Your City">
					</div>
				</div>
			</div>
			<div class="form-block__cell" style="width: 100%;">
				<div class="form-control  form-control--error-important  required">
					<div class="form-control__label">Street Adress</div>
					<div class="form-control__input">
						<input class="input" type="text" name="" placeholder="Your Street Adress">
					</div>
				</div>
			</div>
			<div class="form-block__cell" style="width: 50%;">
				<div class="form-control required">
					<div class="form-control__label">Zip Code</div>
					<div class="form-control__input">
						<input class="input" type="text" name="" value="34003" placeholder="00000">
					</div>
				</div>
			</div>
			<div class="form-block__cell" style="width: 50%;">
				<div class="form-control required">
					<div class="form-control__label">Shipping method</div>
					<div class="form-control__input input-def">
						<select class="select input-reg">
							<option>Pick up at Rahway (NJ)</option>
							<option>Alaska</option>
							<option>Arizona</option>
							<option>Arkansas</option>
							<option>California</option>
							<option>Colorado</option>
							<option>Connecticut</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-block__cell" style="width: 100%;">
				<div class="form-control required">
					<div class="form-control__label">Comment</div>
					<div class="form-control__input">
						<textarea class="input" placeholder="Your Comment"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
