<div class="form-block">
	<div class="form-block__wrapper">
		<div class="form-block__header">
			<div class="form-block__title">Payment info</div>
		</div>
		<div class="form-block__grid">
			<div class="form-block__cell" style="width: 100%;">
				<div class="form-control required">
					<div class="form-control__label">Select Payment method</div>
					<div class="form-control__input">
						@@include("../radio-block/radio-block.html")
					</div>
				</div>
			</div>
			<div class="form-block__cell" style="width: 100%;">
				<div class="form-control  form-control--error-important  form-control--icon  required">
					<div class="form-control__label">Credit Card Number</div>
					<div class="form-control__input">
						<input class="input" type="text" name="" placeholder="0000 0000 0000 0000">
						<i class="form-control__icon">
							<img src="img/lock.png" alt="">
							<span class="form-control__icon-tooltip">
								<b>Rest easy</b><br>
								 Your credit card information is safely secured.
							</span>
						</i>
					</div>
				</div>
			</div>
			<div class="form-block__cell" style="width: 50%;">
				<div class="form-control  form-control--error-important  required">
					<div class="form-control__label">Exp. Data</div>
					<div class="form-control__input">
						<input class="input" type="text" name="" placeholder="MM/YY">
					</div>
				</div>
			</div>
			<div class="form-block__cell" style="width: 50%;">
				<div class="form-control  form-control--error-important  form-control--icon  required">
					<div class="form-control__label">CVC Number</div>
					<div class="form-control__input">
						<input class="input" type="text" name="" placeholder="---">
						<i class="form-control__icon">
							<img src="img/question.png" alt="">
							<span class="form-control__icon-tooltip">
								A 3 or 4-digit security code on the back or front of your card.
							</span>
						</i>
					</div>
				</div>
			</div>
			<div class="form-block__cell" style="width: 50%;">
				<div class="form-block__description">
					Belldinni Inc
					<br>Bank: Bank Of America
					<br>Account #: 381044512516
					<br>Routing #: 026009593 (wires)
				</div>
				<div class="form-block__description">
					Bank of America's SWIFT Code for US <br>dollar denominated wires is BOFAUS3N
				</div>
			</div>
		</div>
	</div>
</div>
