<aside class="item__details_r">
	<a href="#" class="promo__link promo__link-blue">
                <span class="promo__link_icon">
                  <i class="icon-rounds"></i>
                </span>
		<span class="promo__link_text">
                  <span class="promo__link_title">Get free samples</span>
                  <span class="promo__link_note">Lorem ipsum dolor</span>
                </span>
	</a>
	<a href="#" class="promo__link promo__link-gray">
                <span class="promo__link_icon">
                  <i class="icon-next-move"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg></i>
                </span>
		<span class="promo__link_text">
                  <span class="promo__link_title">Show All doors</span>
                  <span class="promo__link_note">Lorem ipsum dolor</span>
                </span>
	</a>
	<a href="#" class="promo__link promo__link-green">
                <span class="promo__link_icon">
                  <i class="icon-dwnld"><svg height="512" viewBox="0 0 451.111 451.111" width="512" xmlns="http://www.w3.org/2000/svg"><path d="M225.556 354.445l145-145-48.333-48.333-64.444 64.444V0h-64.444v225.556l-64.444-64.444-48.333 48.333zM0 386.667h451.111v64.444H0z"/></svg></i>
                </span>
		<span class="promo__link_text">
                  <span class="promo__link_title">Download prices</span>
                  <span class="promo__link_note">Door order from</span>
                </span>
	</a>
	<div class="btn-need-help" style="background-color:#dcb684;background-image:url(img/call_us.jpg);">
		<!-- <a href="#" class="bnh__link"></a> -->
		<div class="bnh__title">Need Help?</div>
		<div class="bnh__note">Our managers on-line</div>
		<button class="bnh__action btn btn-wht" type="button">Order a Call</button>
	</div>
	<div class="btn-need-help  btn-need-help--dark" style="background-color:#60666b;background-image:url(img/professional.jpg);">
		<!-- <a href="#" class="bnh__link"></a> -->
		<div class="bnh__title">Are you
			professional?</div>
		<div class="bnh__note">Become our licensed partner</div>
		<button class="bnh__action btn btn-brown" type="button">Become a partner</button>
	</div>

</aside>