<div class="fixed-block  js-fixed">
	<header class="header  fixed-block__content  js-fixed__content">
		<div class="header__wrapper">
			<div class="wr clearfix">
				<div class="logo">
        <span class="logo__link">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 536 560" class="logo__img"><path d="M268.8,560l-0.2,0H186V184.9h120.3v254.9c47.8-3.7,109.4-24.5,109.4-135.3c0-144.6-110.5-184.9-153.1-184.9c-54.4,0-102.5,0-142.2,0V560H0V119.6V0c0,0,45.1,0,120.3,0c39.4,0,87,0,140.8,0C363.2,0,536,81.2,536,304.5C536,464.7,453.7,559.7,268.8,560z"/></svg>
	        <!-- <img src="img/logo-ddl-300_o.png" alt="Logo door design lab"> -->
          <span class="logo__txt"><span>Door</span><i class="br"></i>design<i class="br"></i>lab</span>
        </span>
				</div>

				<div class="header__content">

					<div class="h-search fix-elem">
						<a href="#" class="h-search__badge">On Sale</a>
						<div class="search">
							<button class="search__tgl js__search__tgl">
								<svg class="off" xmlns="http://www.w3.org/2000/svg" viewBox="209.7 0 540.7 560">
									<use xlink:href="#svg_icon_srch"></use>
								</svg>
								<svg class="on" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 386.667 386.667">
									<use xlink:href="#svg_icon_close"></use>
								</svg>
								<span class="search__name  hidden-lg  hidden-md  hidden-sm">Search</span>
							</button>
							<form action="#">
								<div class="search__control">
									<input class="search__input" type="text" name="search" placeholder="Search for...">
									<button type="submit" class="search__btn">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="209.7 0 540.7 560">
											<use xlink:href="#svg_icon_srch"></use>
										</svg>
									</button>
								</div>
							</form>
						</div>
					</div>

					<div class="header__contacts fix-elem">
						<div class="header__contacts_phone dropdown">
							<button type="button" class="main-phone dropdown__toggle">
								<i class="icon-ph img-box">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 434.4 434.4">
										<use xlink:href="#svg_icon_ph"></use>
									</svg>
								</i>
								(848) 456-7050
								<span class="main-phone__name  hidden-lg  hidden-md  hidden-sm">Contacts</span>
							</button>
							<div class="dropdown__overley  dropdown__toggle"></div>
							<div class="dropdown__menu">
								<div class="dropdown__close  dropdown__toggle"></div>
								<div class="dropdown__title">Contacts</div>
								<div class="dropdown__list">
									<div class="dropdown__item">
										<svg class="symbol  symbol-location  dropdown__item-icon">
											<use xlink:href="img/sprite.svg#location"></use>
										</svg>
										DoorDesignLab 970 New Brunswick Ave, Rahway NJ 07065 USA
									</div>
									<div class="dropdown__item">
										<svg class="symbol  symbol-phone  dropdown__item-icon">
											<use xlink:href="img/sprite.svg#phone"></use>
										</svg>
										<a class="link-text" href="tel:+1 (848) 456-7050">(848) 456-7050</a>
									</div>
									<div class="dropdown__item">
										<svg class="symbol  symbol-mail  dropdown__item-icon">
											<use xlink:href="img/sprite.svg#mail"></use>
										</svg>
										<a class="link-text" href="mailto:info@doordesignlab.com">info@doordesignlab.com</a>
									</div>
								</div>
								<a href="#" class="resp-nav__oac js_order-a-call">Order a call</a>
								<div class="dropdown__title">Working hours</div>
								<div class="working-hours">
									<div class="working-hours__lbl">
										<svg class="symbol  symbol-clock  dropdown__item-icon">
											<use xlink:href="img/sprite.svg#clock"></use>
										</svg>
										<b>Call center & warehouse:</b>
									</div>
									<div class="working-hours__val">Mon - Fri: 9:00 am - 6:00 pm EST</div>
									<div class="working-hours__lbl">
										<svg class="symbol  symbol-clock  dropdown__item-icon">
											<use xlink:href="img/sprite.svg#clock"></use>
										</svg>
										<b>Showroom and office:</b>
									</div>
									<div class="working-hours__val">Mon - Fri: 9:00 am - 6:00 pm EST,<br> Sat and Sun: by arrangement only</div>
								</div>
								<div class="social-links">
									<div class="social-links__list">
										<a class="social-links__item  social-links__item--facebook" href="#">
											<svg class="symbol  symbol-facebook">
												<use xlink:href="img/sprite.svg#facebook"></use>
											</svg>
										</a>
										<a class="social-links__item  social-links__item--instagram" href="#">
											<svg class="symbol  symbol-instagram">
												<use xlink:href="img/sprite.svg#instagram"></use>
											</svg>
										</a>
										<a class="social-links__item  social-links__item--youtube" href="#">
											<svg class="symbol  symbol-youtube">
												<use xlink:href="img/sprite.svg#youtube"></use>
											</svg>
										</a>
										<a class="social-links__item  social-links__item--houzz" href="#">
											<svg class="symbol  symbol-houzz">
												<use xlink:href="img/sprite.svg#houzz"></use>
											</svg>
										</a>
										<a class="social-links__item  social-links__item--pinterest" href="#">
											<svg class="symbol  symbol-pinterest">
												<use xlink:href="img/sprite.svg#pinterest"></use>
											</svg>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="header__contacts_actn">
							<a href="#" class="js_order-a-call">Order a call</a>
						</div>
					</div>

					<div class="show-rooms  hidden-lg  hidden-md  hidden-sm fix-elem">
						<div class="dropdown">
							<a class="show-rooms__toggle dropdown__toggle" href="#" data-target="">
								<img class="show-rooms__icon" src="img/map-marker.png" alt="">
								<span class="show-rooms__name">Showrooms</span>
							</a>
							<div class="dropdown__overley  dropdown__toggle"></div>
							<div class="dropdown__menu">
								<div class="dropdown__close  dropdown__toggle"></div>
								<div class="top-nav__contact">
									<div class="dropdown__title top-nav__contact_title">Paramus, NJ</div>
									<div class="top-nav__contact_item contact-loc">484 Route 17, Paramus,<br> NJ 07652</div>
									<a href="tel:+1 (646) 506-4920" class="top-nav__contact_item contact-ph">(646) 506-4920</a>
									<div class="top-nav__contact_item contact-time">
										Tue - Fri: 9:30 am - 6:30 pm EST<br>
										Sat: 10:00 am - 5:00 pm EST
									</div>
									<div class="top-nav__contact_action">
										<a href="#" class="all_link">View all</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="header__cart fix-elem">
						<a href="#" class="h-cart__link">
							<i class="icon-crt img-box">
								<img class="hidden-xs" src="img/icon-basket_o.png" alt="My cart">
								<img class="hidden-lg  hidden-md  hidden-sm" src="img/icon-basket_w.png" alt="My cart">
							</i>
							<span class="h-cart__lbl"><span class="h-cart__val">14</span> <span class="h-cart__txt">My cart</span></span>
							<span class="h-cart__name  hidden-lg  hidden-md  hidden-sm">My cart</span>
						</a>
					</div>

					<div class="resp-nav">
						<button type="button" class="menu-toggler js_menu-toggler">
							<i class="menu-toggler-icon"></i>
						</button>
					</div>

				</div>
			</div>

			<section class="main-menu" id="js_nav">
				<div class="wr">
					<button class="main-menu_close js_menu-toggler">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 386.667 386.667">
							<use xlink:href="#svg_icon_close"></use>
						</svg>
					</button>
					<nav class="nav">
						<div class="main-menu__hover"></div>
						<ul class="nav__list">
							<li class="nav__item has-chld">
								<a href="#" class="nav__link js_nav__link" data-target="sub_menu_001">Interior Doors</a>
							</li>
							<li class="nav__item has-chld">
								<a href="#" class="nav__link js_nav__link" data-target="sub_menu_002">Pocket doors</a>
							</li>
							<li class="nav__item">
								<a href="#" class="nav__link">Barn Doors</a>
							</li>
							<li class="nav__item has-chld">
								<a href="#" class="nav__link js_nav__link" data-target="sub_menu_003">Magic doors</a>
							</li>
							<li class="nav__item">
								<a href="#" class="nav__link">Bi-fold Doors</a>
							</li>
							<li class="nav__item">
								<a href="#" class="nav__link">Doors by style</a>
							</li>
							<li class="nav__item  nav__item--hidden">
								<a href="#" class="nav__link">Doors by color</a>
							</li>
							<li class="nav__item  nav__item--hidden has-chld">
								<a href="#" class="nav__link js_nav__link" data-target="sub_menu_004">Hardware</a>
							</li>
							<li class="nav__item  nav__item--hidden">
								<a href="#" class="nav__link">For professionals</a>
							</li>
							<li class="nav__item  nav__item--hidden has-chld">
								<a href="#" class="nav__link js_nav__link" data-target="sub_menu_005">For customer</a>
							</li>
							<li class="nav__item  nav__item--hidden nav__item-resp has-chld">
								<a href="#" class="nav__link js_nav__link" data-target="sub_menu_006">Showroom</a>
							</li>
							<li class="nav__item  nav__item--hidden nav__item-resp">
								<a href="#" class="nav__link">Download catalog</a>
							</li>
							<li class="nav__item  nav__item--hidden nav__item-resp">
								<a href="#" class="nav__link">Download Price</a>
							</li>
						</ul>
					</nav>
				</div>

				<div class="nav-sub js__nav-sub" id="sub_menu_001">
					<button class="main-menu_close js_menu-toggler">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 386.667 386.667">
							<use xlink:href="#svg_icon_close"></use>
						</svg>
					</button>
					<button class="main-menu_bk js_submenu-close icomoon-arrow-left2"></button>
					<div class="nav-sub__wr wr">

						<div class="nav-sub__row">
							<div class="nav-sub__media">
								<img src="upld/mm_image.jpg" alt="#">
							</div>
							<div class="nav-sub__tbl">

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Configuration</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Swing</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Pocket</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Barn</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Bypass</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Magic</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Bi-fold</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Style</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Modern</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Contemporary</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Classical</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">European</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Luxury</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Finish</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Pre Finished</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">PPL</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Painted</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Veneer</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Enameled</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Laquered</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Design</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Flat</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Shaker</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Molded</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">French</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Stiles and Rails</a>
											</li>
										</ul>
									</div>
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Core</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Solid Core</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">HoneyComb</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Glass</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">No Glass</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Glass Panels</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Glazed</a>
											</li>
										</ul>
									</div>
									<div class="nav-sub__cat">
										<div class="nav-sub__title">By Application</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Commercial</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">For Builders</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Residential</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Collections</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">City</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Exotic Wood</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Modular</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Narvika</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Sotby</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">French</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Palazzo</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Optima</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Aurum</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Darcy</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Twinwood</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Location</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Living Room</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Bathroom</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Hallway</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Children Room</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Closet</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Master Bedroom</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Powder Room</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Pantry</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Office</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Laundry</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Bedroom</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Kitchen</a>
											</li>
										</ul>
									</div>
								</div>

							</div>
						</div>

						<div class="nav-sub__row nav-sub__row-min">
							<div class="nav-sub__media">
								<img src="upld/mm_image_color.jpg" alt="#">
							</div>
							<div class="nav-sub__tbl">
								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<ul class="nav-sub__list">
											<li class="nav-sub__item nav-sub__item-title">
												<b>Color</b>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Bianco noble</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Polar white</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Gray Oak</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Wenge</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Wenge</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Mahogany</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Mahogany</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Ivory</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Anthracite</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Shambor</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Show White</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="nav-sub__col">
								</div>
								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<ul class="nav-sub__list">
											<li class="nav-sub__item nav-sub__item-title">
												<strong>Price</strong>
											</li>
											<li class="nav-sub__item">
												> $149.99
											</li>
											<li class="nav-sub__item">
												$150 - $349.99
											</li>
										</ul>
									</div>
								</div>
								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												$350 - $599.99
											</li>
											<li class="nav-sub__item">
												$600 <
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="nav-sub js__nav-sub" id="sub_menu_002">
					<button class="main-menu_close js_menu-toggler">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 386.667 386.667">
							<use xlink:href="#svg_icon_close"></use>
						</svg>
					</button>
					<button class="main-menu_bk js_submenu-close icomoon-arrow-left2"></button>
					<div class="nav-sub__wr wr">

						<div class="nav-sub__row">
							<div class="nav-sub__media">
								<img src="upld/mm_image.jpg" alt="#">
							</div>
							<div class="nav-sub__tbl">

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Configuration</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Swing</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Pocket</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Barn</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Bypass</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Magic</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Bi-fold</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Style</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Modern</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Contemporary</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Classical</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">European</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Luxury</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Finish</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Pre Finished</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">PPL</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Painted</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Veneer</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Enameled</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Laquered</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Design</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Flat</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Shaker</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Molded</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">French</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Stiles and Rails</a>
											</li>
										</ul>
									</div>
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Core</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Solid Core</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">HoneyComb</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Glass</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">No Glass</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Glass Panels</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Glazed</a>
											</li>
										</ul>
									</div>
									<div class="nav-sub__cat">
										<div class="nav-sub__title">By Application</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Commercial</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">For Builders</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Residential</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Collections</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">City</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Exotic Wood</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Modular</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Narvika</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Sotby</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">French</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Palazzo</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Optima</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Aurum</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Darcy</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Twinwood</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Location</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Living Room</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Bathroom</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Hallway</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Children Room</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Closet</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Master Bedroom</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Powder Room</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Pantry</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Office</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Laundry</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Bedroom</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Kitchen</a>
											</li>
										</ul>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>

				<div class="nav-sub js__nav-sub" id="sub_menu_003">
					<button class="main-menu_close js_menu-toggler">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 386.667 386.667">
							<use xlink:href="#svg_icon_close"></use>
						</svg>
					</button>
					<button class="main-menu_bk js_submenu-close icomoon-arrow-left2"></button>
					<div class="nav-sub__wr wr">

						<div class="nav-sub__row">
							<div class="nav-sub__media">
								<img src="upld/mm_image_02.jpg" alt="#">
							</div>
							<div class="nav-sub__tbl">

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Door Handles</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Modern levers</a>
											</li>
										</ul>
									</div>
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Cover plates</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Keyed/Entry</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Privacy</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Hinges</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Plain</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Concealed</a>
											</li>
										</ul>
									</div>
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Locks</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Magnetic</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Magic Door</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Hardware sets</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Door pulls</a>
											</li>
										</ul>
									</div>
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Accessories</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">latches & bolts</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Smart Sweep</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Barn Door</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Hardware sets</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Door pulls</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Pocket Door</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Pocket door frames</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Locks and pulls</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Soft close</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Bi-fold door</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Hardware sets</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Bypass Door</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Hardware sets</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Door pulls</a>
											</li>
										</ul>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>

				<div class="nav-sub js__nav-sub" id="sub_menu_004">
					<button class="main-menu_close js_menu-toggler">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 386.667 386.667">
							<use xlink:href="#svg_icon_close"></use>
						</svg>
					</button>
					<button class="main-menu_bk js_submenu-close icomoon-arrow-left2"></button>
					<div class="nav-sub__wr wr">

						<div class="nav-sub__row">
							<div class="nav-sub__media">
								<img src="upld/mm_image_02.jpg" alt="#">
							</div>
							<div class="nav-sub__tbl">

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Door Handles</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Modern levers</a>
											</li>
										</ul>
									</div>
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Cover plates</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Keyed/Entry</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Privacy</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Hinges</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Plain</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Concealed</a>
											</li>
										</ul>
									</div>
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Locks</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Magnetic</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Magic Door</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Hardware sets</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Door pulls</a>
											</li>
										</ul>
									</div>
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Accessories</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">latches & bolts</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Smart Sweep</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Barn Door</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Hardware sets</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Door pulls</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Pocket Door</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Pocket door frames</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Locks and pulls</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Soft close</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Bi-fold door</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Hardware sets</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Bypass Door</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Hardware sets</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Door pulls</a>
											</li>
										</ul>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>

				<div class="nav-sub js__nav-sub" id="sub_menu_005">
					<button class="main-menu_close js_menu-toggler">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 386.667 386.667">
							<use xlink:href="#svg_icon_close"></use>
						</svg>
					</button>
					<button class="main-menu_bk js_submenu-close icomoon-arrow-left2"></button>
					<div class="nav-sub__wr wr">

						<div class="nav-sub__row">
							<div class="nav-sub__media">
								<img src="upld/mm_image.jpg" alt="#">
							</div>
							<div class="nav-sub__tbl">

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Configuration</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Swing</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Pocket</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Barn</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Bypass</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Magic</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Bi-fold</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Style</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Modern</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Contemporary</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Classical</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">European</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Luxury</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Finish</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Pre Finished</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">PPL</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Painted</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Veneer</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Enameled</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Laquered</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Design</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Flat</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Shaker</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Molded</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">French</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Stiles and Rails</a>
											</li>
										</ul>
									</div>
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Core</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Solid Core</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">HoneyComb</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Glass</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">No Glass</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Glass Panels</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Glazed</a>
											</li>
										</ul>
									</div>
									<div class="nav-sub__cat">
										<div class="nav-sub__title">By Application</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Commercial</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">For Builders</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Residential</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Collections</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">City</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Exotic Wood</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Modular</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Narvika</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Sotby</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">French</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Palazzo</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Optima</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Aurum</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Darcy</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Twinwood</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="nav-sub__col">
									<div class="nav-sub__cat">
										<div class="nav-sub__title">Location</div>
										<ul class="nav-sub__list">
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Living Room</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Bathroom</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Hallway</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Children Room</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Closet</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Master Bedroom</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Powder Room</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Pantry</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Office</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Laundry</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Bedroom</a>
											</li>
											<li class="nav-sub__item">
												<a href="#" class="nav-sub__link">Kitchen</a>
											</li>
										</ul>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>

				<div class="nav-sub nav-sub-resp js__nav-sub" id="sub_menu_006">
					<button class="main-menu_close js_menu-toggler">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 386.667 386.667">
							<use xlink:href="#svg_icon_close"></use>
						</svg>
					</button>
					<button class="main-menu_bk js_submenu-close icomoon-arrow-left2"></button>
					<div class="nav-sub__wr wr">
						<div class="top-nav__contact">
							<div class="dropdown__title top-nav__contact_title">Paramus, NJ</div>
							<div class="top-nav__contact_item contact-loc">484 Route 17, Paramus,<br> NJ 07652</div>
							<a href="tel:+1 (646) 506-4920" class="top-nav__contact_item contact-ph">(646) 506-4920</a>
							<div class="top-nav__contact_item contact-time">
								<b>Tue - Fri:</b>
								9:30 am - 6:30 pm EST<br>
								<b>Sat:</b>
								10:00 am - 5:00 pm EST
							</div>
							<div class="top-nav__contact_action">
								<a href="#" class="all_link">View all</a>
							</div>
						</div>
					</div>
				</div>

			</section>
		</div>
	</header>
</div>