<div class="steps  steps--2">
	<div class="steps__list">
		<div class="steps__item  steps__item--active">
			<div class="steps__num">1</div>
		</div>
		<div class="steps__line"></div>
		<div class="steps__item">
			<div class="steps__num">2</div>
		</div>
	</div>
</div>