<div class="top-nav">
	<div class="wr">
		<div class="top-nav__side top-nav__side_l">
			<a class="top-nav__link" href="#">
				<i class="top-nav__icon img-box icon-price-match">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
						<path d="M437.02 74.98C388.668 26.628 324.38 0 256 0S123.332 26.628 74.98 74.98C26.629 123.332 0 187.62 0 256s26.629 132.668 74.98 181.02C123.332 485.372 187.62 512 256 512s132.668-26.628 181.02-74.98C485.371 388.668 512 324.38 512 256s-26.629-132.668-74.98-181.02zM256 482C131.383 482 30 380.617 30 256S131.383 30 256 30s226 101.383 226 226-101.383 226-226 226z"/>
						<path d="M272.067 241h-32.134c-18.307 0-33.2-14.893-33.2-33.199 0-18.307 14.894-33.2 33.2-33.2H304.2c8.284 0 15-6.716 15-15s-6.716-15-15-15H271v-33.2c0-8.284-6.716-15-15-15s-15 6.716-15 15v33.2h-1.066c-34.849 0-63.2 28.352-63.2 63.2S205.086 271 239.934 271h32.134c18.306 0 33.199 14.894 33.199 33.2 0 18.306-14.893 33.2-33.199 33.2h-64.267c-8.284 0-15 6.716-15 15s6.716 15 15 15H241v33.201c0 8.284 6.716 15 15 15s15-6.716 15-15V367.4h1.067c34.848 0 63.199-28.352 63.199-63.2S306.915 241 272.067 241z"/>
					</svg>
				</i>
				100% Price Match
			</a>
			<a class="top-nav__link" href="#">
				<i class="top-nav__icon img-box icon-warranty">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
						<path d="M509.9 408.1l-79-137.1c10.9-24.2 17.2-50.8 17.2-79C448 86.1 361.9 0 256 0S64 86.1 64 192c0 28.2 6.2 54.8 17.2 78.9L2.1 408c-3.1 5.3-2.8 11.9.6 17 3.5 5.1 9.6 7.7 15.6 6.8l88.8-13.4 32.5 83.4c2.2 5.7 7.6 9.7 13.7 10.1.4.1.8.1 1.2.1 5.7 0 11-3 13.9-8l69.8-120.9c5.9.5 11.8.9 17.8.9s11.9-.4 17.8-.9L343.6 504c2.9 5 8.2 8 13.9 8h1.2c6.1-.5 11.5-4.4 13.7-10.1l32.5-83.4 88.8 13.4c6 1 12.1-1.7 15.6-6.8 3.4-5.1 3.6-11.7.6-17zm-352.5 51l-25-64.3c-2.7-7-10-11.2-17.3-10l-68.6 10.4L99.6 303c25.2 35.5 62.2 62 105.2 73.9l-47.4 82.2zM256 352c-88.2 0-160-71.8-160-160S167.8 32 256 32s160 71.8 160 160-71.8 160-160 160zm140.9 32.8c-7.4-1.2-14.6 3-17.3 10l-25 64.3-47.5-82.2c43-11.9 80-38.4 105.2-73.9l53.2 92.2-68.6-10.4z"/>
						<path d="M279.8 148.9c0-8-1.9-14.4-5.8-19-3.8-4.6-9.9-6.9-18.1-6.9-16.9 0-25.9 11.5-26.9 34.6h-35c1-21.4 7.5-37.5 19.5-48.6 12-11 27.1-16.5 45.4-16.5 18.6 0 32.9 4.8 42.9 14.5s15 22.5 15 38.6c0 12.6-3.7 25.3-11.1 38.1-7.4 12.7-16.9 24.4-28.3 35.1-11.4 10.7-23.5 19.9-36.1 27.6h79.2v29.5H193V249c57.9-40.3 86.8-73.7 86.8-100.1z"/>
					</svg>
				</i>
				2 Year Warranty
			</a>
			<a class="top-nav__link" href="#">
				<i class="top-nav__icon img-box icon-partner">
					<svg viewBox="-42 0 512 512.001" xmlns="http://www.w3.org/2000/svg">
						<path d="M210.352 246.633c33.882 0 63.218-12.153 87.195-36.13 23.969-23.972 36.125-53.304 36.125-87.19 0-33.876-12.152-63.211-36.129-87.192C273.566 12.152 244.23 0 210.352 0c-33.887 0-63.22 12.152-87.192 36.125s-36.129 53.309-36.129 87.188c0 33.886 12.156 63.222 36.13 87.195 23.98 23.969 53.316 36.125 87.19 36.125zM144.379 57.34c18.394-18.395 39.973-27.336 65.973-27.336 25.996 0 47.578 8.941 65.976 27.336 18.395 18.398 27.34 39.98 27.34 65.972 0 26-8.945 47.579-27.34 65.977-18.398 18.399-39.98 27.34-65.976 27.34-25.993 0-47.57-8.945-65.973-27.34-18.399-18.394-27.344-39.976-27.344-65.976 0-25.993 8.945-47.575 27.344-65.973zm0 0M426.129 393.703c-.692-9.976-2.09-20.86-4.149-32.351-2.078-11.579-4.753-22.524-7.957-32.528-3.312-10.34-7.808-20.55-13.375-30.336-5.77-10.156-12.55-19-20.16-26.277-7.957-7.613-17.699-13.734-28.965-18.2-11.226-4.44-23.668-6.69-36.976-6.69-5.227 0-10.281 2.144-20.043 8.5a2711.03 2711.03 0 01-20.879 13.46c-6.707 4.274-15.793 8.278-27.016 11.903-10.949 3.543-22.066 5.34-33.043 5.34-10.968 0-22.086-1.797-33.043-5.34-11.21-3.622-20.3-7.625-26.996-11.899-7.77-4.965-14.8-9.496-20.898-13.469-9.754-6.355-14.809-8.5-20.035-8.5-13.313 0-25.75 2.254-36.973 6.7-11.258 4.457-21.004 10.578-28.969 18.199-7.609 7.281-14.39 16.12-20.156 26.273-5.558 9.785-10.058 19.992-13.371 30.34-3.2 10.004-5.875 20.945-7.953 32.524-2.063 11.476-3.457 22.363-4.149 32.363C.343 403.492 0 413.668 0 423.949c0 26.727 8.496 48.363 25.25 64.32C41.797 504.017 63.688 512 90.316 512h246.532c26.62 0 48.511-7.984 65.062-23.73 16.758-15.946 25.254-37.59 25.254-64.325-.004-10.316-.351-20.492-1.035-30.242zm-44.906 72.828c-10.934 10.406-25.45 15.465-44.38 15.465H90.317c-18.933 0-33.449-5.059-44.379-15.46-10.722-10.208-15.933-24.141-15.933-42.587 0-9.594.316-19.066.95-28.16.616-8.922 1.878-18.723 3.75-29.137 1.847-10.285 4.198-19.937 6.995-28.675 2.684-8.38 6.344-16.676 10.883-24.668 4.332-7.618 9.316-14.153 14.816-19.418 5.145-4.926 11.63-8.957 19.27-11.98 7.066-2.798 15.008-4.329 23.629-4.56 1.05.56 2.922 1.626 5.953 3.602 6.168 4.02 13.277 8.606 21.137 13.625 8.86 5.649 20.273 10.75 33.91 15.152 13.941 4.508 28.16 6.797 42.273 6.797 14.114 0 28.336-2.289 42.27-6.793 13.648-4.41 25.058-9.507 33.93-15.164 8.043-5.14 14.953-9.593 21.12-13.617 3.032-1.973 4.903-3.043 5.954-3.601 8.625.23 16.566 1.761 23.636 4.558 7.637 3.024 14.122 7.059 19.266 11.98 5.5 5.262 10.484 11.798 14.816 19.423 4.543 7.988 8.208 16.289 10.887 24.66 2.801 8.75 5.156 18.398 7 28.675 1.867 10.434 3.133 20.239 3.75 29.145v.008c.637 9.058.957 18.527.961 28.148-.004 18.45-5.215 32.38-15.937 42.582zm0 0"/>
					</svg>
				</i>
				Special Prices for Partners
			</a>
		</div>
		<div class="top-nav__side top-nav__side_r">
			<div class="top-nav__item top-nav__showroom dropdown">
				<a class="top-nav__link dropdown__toggle" href="#" data-target="">
					<svg class="symbol  symbol-location">
						<use xlink:href="img/sprite.svg#location"></use>
					</svg>
					<span>Showroom</span>
				</a>
				<div class="dropdown__menu">
					<div class="top-nav__contact">
						<div class="dropdown__title top-nav__contact_title">Paramus, NJ</div>
						<div class="top-nav__contact_item contact-loc">484 Route 17, Paramus,<br> NJ 07652</div>
						<a href="tel:+1 (646) 506-4920" class="top-nav__contact_item contact-ph">(646) 506-4920</a>
						<div class="top-nav__contact_item contact-time">
							Tue - Fri: 9:30 am - 6:30 pm EST<br>
							Sat: 10:00 am - 5:00 pm EST
						</div>
						<div class="top-nav__contact_action">
							<a href="#" class="all_link">View all</a>
						</div>
					</div>
				</div>
			</div>
			<a class="top-nav__link" href="#">Download catalog</a>
			<a class="top-nav__link" href="#">Download Price</a>
		</div>
	</div>
</div>