:root {
    --section-h: 600px;
}

.section-hrdwr {
    background-position: 0 0;
}

@media only screen and (max-width:1440px) {
    :root {
        --section-h: 480px;
    }

    .section-hrdwr {
        background-position: 100% 50%
    }
}

@media only screen and (max-width:1200px) {
    :root {
        --section-h: 296px;
    }
    .section-hrdwr {
        background-position: 50% 50%;
    }
}

@media only screen and (max-width:767px) {
    :root {
        --section-h: 200px;
    }
}