<div class="stock stock-special  js-fade">
	<div class="stock__wrapper  js-fade__toggle">
		<span class="stock__label">Special Order</span>
		<i class="stock__icon">
			<img src="img/information.png" alt="">
		</i>
		<div class="stock__note  js-fade__content">
			<div class="stock__note-wrap">
				<b>Lead time for producrs:</b>
				<p>In stock: 14 business days
					<br>Out-of stock: 12-16 weeks
					<br>Special order: 14-16 weeks
				</p>
			</div>
		</div>
	</div>
</div>