<section class="content__section section-crsl crsl-dark">
	<div class="wr">
		<div class="content__section_header">
			<div class="content__section_title">Related products</div>
			<a href="#" class="all_link">View all</a>
		</div>
		<div class="crsl">
			<div class="ctlg__list js_crsl">

				<div class="ctlg__item">
					<a class="ctlg__item_link" href="#"></a>
					<div class="ctlg__item_media img-box ctlg__item_media-door">
						<div class="ctlg__item_badges">
							<div class="ctlg__item_badge badge-stock">IN STOCK</div>
							<div class="ctlg__item_badge badge-new">NEW</div>
						</div>
						<img class="ctlg__item_img" src="upld/alba_go-min_01.jpg" alt="Della Vetro Gray Oak Belldinni Modern Interior Door">
					</div>
					<div class="ctlg__item_title">Della Vetro Gray Oak Belldinni Modern Interior Door</div>
					@@include("../ctlg-product-footer/ctlg-product-footer.html")
				</div>

				<div class="ctlg__item">
					<a class="ctlg__item_link" href="#"></a>
					<div class="ctlg__item_media img-box ctlg__item_media-door">
						<div class="ctlg__item_badges">
							<div class="ctlg__item_badge badge-hit">HIT</div>
						</div>
						<img class="ctlg__item_img" src="upld/alda_go-min_01.jpg" alt="Della Vetro Gray Oak Belldinni Modern Interior Door">
					</div>
					<div class="ctlg__item_title">Della Vetro Gray Oak Belldinni Modern Interior Door</div>
					@@include("../ctlg-product-footer/ctlg-product-footer.html")
				</div>

				<div class="ctlg__item">
					<a class="ctlg__item_link" href="#"></a>
					<div class="ctlg__item_media img-box ctlg__item_media-door">
						<div class="ctlg__item_badges">
							<div class="ctlg__item_badge badge-sale">SALE XX%</div>
							<div class="ctlg__item_badge badge-hit">HIT</div>
							<div class="ctlg__item_badge badge-new">NEW</div>
						</div>
						<img class="ctlg__item_img" src="upld/arvika_pw-min_1_01.jpg" alt="Della Vetro Gray Oak Belldinni Modern Interior Door">
					</div>
					<div class="ctlg__item_title">Della Vetro Gray Oak Belldinni Modern Interior Door</div>
					@@include("../ctlg-product-footer/ctlg-product-footer.html")
				</div>

				<div class="ctlg__item ctlg__item-pr" style="background:#887b62;">
					<div class="ctlg__item-bg-block" style="background-image:url('img/ctld_selected_drk.jpg')"></div>
					<a class="ctlg__item_link" href="#"></a>
					<div class="ctlg__item_media img-box ctlg__item_media-door">
						<div class="ctlg__item_badges">
							<div class="ctlg__item_badge badge-stock">IN STOCK</div>
							<div class="ctlg__item_badge badge-new">NEW</div>
						</div>
						<img class="ctlg__item_img"
							src="upld/classica_lux_wenge-min_01.jpg"
							alt="Della Vetro Gray Oak Belldinni Modern Interior Door">
					</div>
					<div class="ctlg__item_title">Della Vetro Gray Oak Belldinni Modern Interior Door</div>
					@@include("../ctlg-product-footer/ctlg-product-footer.html")
				</div>

				<div class="ctlg__item">
					<a class="ctlg__item_link" href="#"></a>
					<div class="ctlg__item_media img-box ctlg__item_media-door">
						<div class="ctlg__item_badges">
							<div class="ctlg__item_badge badge-sale">SALE XX%</div>
							<div class="ctlg__item_badge badge-hit">HIT</div>
						</div>
						<img class="ctlg__item_img"
							src="upld/della_vetro_bn-min_01.jpg"
							alt="Della Vetro Gray Oak Belldinni Modern Interior Door">
					</div>
					<div class="ctlg__item_title">Della Vetro Gray Oak Belldinni Modern Interior Door</div>
					@@include("../ctlg-product-footer/ctlg-product-footer.html")
				</div>

				<div class="ctlg__item">
					<a class="ctlg__item_link" href="#"></a>
					<div class="ctlg__item_media img-box ctlg__item_media-door">
						<div class="ctlg__item_badges">
							<div class="ctlg__item_badge badge-stock">IN STOCK</div>
							<div class="ctlg__item_badge badge-sale">SALE XX%</div>
							<div class="ctlg__item_badge badge-hit">HIT</div>
							<div class="ctlg__item_badge badge-new">NEW</div>
						</div>
						<img class="ctlg__item_img"
							src="upld/dessa_vetro_bn-min_01.jpg"
							alt="Della Vetro Gray Oak Belldinni Modern Interior Door">
					</div>
					<div class="ctlg__item_title">Della Vetro Gray Oak Belldinni Modern Interior Door</div>
					@@include("../ctlg-product-footer/ctlg-product-footer.html")
				</div>

				<div class="ctlg__item">
					<a class="ctlg__item_link" href="#"></a>
					<div class="ctlg__item_media img-box ctlg__item_media-door">
						<div class="ctlg__item_badges">
							<div class="ctlg__item_badge badge-stock">IN STOCK</div>
							<div class="ctlg__item_badge badge-sale">SALE XX%</div>
							<div class="ctlg__item_badge badge-hit">HIT</div>
							<div class="ctlg__item_badge badge-new">NEW</div>
						</div>
						<img class="ctlg__item_img"
							src="upld/edna_vetro_bn-min_01.jpg"
							alt="Della Vetro Gray Oak Belldinni Modern Interior Door">
					</div>
					<div class="ctlg__item_title">Della Vetro Gray Oak Belldinni Modern Interior Door</div>
					@@include("../ctlg-product-footer/ctlg-product-footer.html")
				</div>

				<div class="ctlg__item">
					<a class="ctlg__item_link" href="#"></a>
					<div class="ctlg__item_media img-box ctlg__item_media-door">
						<div class="ctlg__item_badges">
							<div class="ctlg__item_badge badge-stock">IN STOCK</div>
							<div class="ctlg__item_badge badge-sale">SALE XX%</div>
							<div class="ctlg__item_badge badge-hit">HIT</div>
							<div class="ctlg__item_badge badge-new">NEW</div>
						</div>
						<img class="ctlg__item_img"
							src="upld/esta_vetro_go-min_1_01.jpg"
							alt="Della Vetro Gray Oak Belldinni Modern Interior Door">
					</div>
					<div class="ctlg__item_title">Della Vetro Gray Oak Belldinni Modern Interior Door</div>
					@@include("../ctlg-product-footer/ctlg-product-footer.html")
				</div>

				<div class="ctlg__item">
					<a class="ctlg__item_link" href="#"></a>
					<div class="ctlg__item_media img-box ctlg__item_media-door">
						<div class="ctlg__item_badges">
							<div class="ctlg__item_badge badge-stock">IN STOCK</div>
							<div class="ctlg__item_badge badge-sale">SALE XX%</div>
							<div class="ctlg__item_badge badge-hit">HIT</div>
							<div class="ctlg__item_badge badge-new">NEW</div>
						</div>
						<img class="ctlg__item_img"
							src="upld/matrix02_greyoak_2__01.jpg"
							alt="Della Vetro Gray Oak Belldinni Modern Interior Door">
					</div>
					<div class="ctlg__item_title">Della Vetro Gray Oak Belldinni Modern Interior Door</div>
					@@include("../ctlg-product-footer/ctlg-product-footer.html")
				</div>

				<div class="ctlg__item">
					<a class="ctlg__item_link" href="#"></a>
					<div class="ctlg__item_media img-box ctlg__item_media-door">
						<div class="ctlg__item_badges">
							<div class="ctlg__item_badge badge-stock">IN STOCK</div>
							<div class="ctlg__item_badge badge-sale">SALE XX%</div>
							<div class="ctlg__item_badge badge-hit">HIT</div>
							<div class="ctlg__item_badge badge-new">NEW</div>
						</div>
						<img class="ctlg__item_img" src="upld/maximum_200-min_01.jpg" alt="Della Vetro Gray Oak Belldinni Modern Interior Door">
					</div>
					<div class="ctlg__item_title">Della Vetro Gray Oak Belldinni Modern Interior Door</div>
					@@include("../ctlg-product-footer/ctlg-product-footer.html")
				</div>

				<div class="ctlg__item">
					<a class="ctlg__item_link" href="#"></a>
					<div class="ctlg__item_media img-box ctlg__item_media-door">
						<div class="ctlg__item_badges">
							<div class="ctlg__item_badge badge-stock">IN STOCK</div>
							<div class="ctlg__item_badge badge-sale">SALE XX%</div>
							<div class="ctlg__item_badge badge-hit">HIT</div>
							<div class="ctlg__item_badge badge-new">NEW</div>
						</div>
						<img class="ctlg__item_img" src="upld/palladio2u-min_01.jpg" alt="Della Vetro Gray Oak Belldinni Modern Interior Door">
					</div>
					<div class="ctlg__item_title">Della Vetro Gray Oak Belldinni Modern Interior Door</div>
					@@include("../ctlg-product-footer/ctlg-product-footer.html")
				</div>

				<div class="ctlg__item">
					<a class="ctlg__item_link" href="#"></a>
					<div class="ctlg__item_media img-box ctlg__item_media-door">
						<div class="ctlg__item_badges">
							<div class="ctlg__item_badge badge-stock">IN STOCK</div>
							<div class="ctlg__item_badge badge-sale">SALE XX%</div>
							<div class="ctlg__item_badge badge-hit">HIT</div>
							<div class="ctlg__item_badge badge-new">NEW</div>
						</div>
						<img class="ctlg__item_img" src="upld/palladio2v_-min_01.jpg" alt="Della Vetro Gray Oak Belldinni Modern Interior Door">
					</div>
					<div class="ctlg__item_title">Della Vetro Gray Oak Belldinni Modern Interior Door</div>
					@@include("../ctlg-product-footer/ctlg-product-footer.html")
				</div>

				<div class="ctlg__item">
					<a class="ctlg__item_link" href="#"></a>
					<div class="ctlg__item_media img-box ctlg__item_media-door">
						<div class="ctlg__item_badges">
							<div class="ctlg__item_badge badge-stock">IN STOCK</div>
							<div class="ctlg__item_badge badge-sale">SALE XX%</div>
							<div class="ctlg__item_badge badge-hit">HIT</div>
							<div class="ctlg__item_badge badge-new">NEW</div>
						</div>
						<img class="ctlg__item_img" src="upld/smartpro_2h-min_01.jpg" alt="Della Vetro Gray Oak Belldinni Modern Interior Door">
					</div>
					<div class="ctlg__item_title">Della Vetro Gray Oak Belldinni Modern Interior Door</div>
					@@include("../ctlg-product-footer/ctlg-product-footer.html")
				</div>

				<div class="ctlg__item">
					<a class="ctlg__item_link" href="#"></a>
					<div class="ctlg__item_media img-box ctlg__item_media-door">
						<div class="ctlg__item_badges">
							<div class="ctlg__item_badge badge-stock">IN STOCK</div>
							<div class="ctlg__item_badge badge-sale">SALE XX%</div>
							<div class="ctlg__item_badge badge-hit">HIT</div>
							<div class="ctlg__item_badge badge-new">NEW</div>
						</div>
						<img class="ctlg__item_img" src="upld/smartpro_2u-min_01.jpg" alt="Della Vetro Gray Oak Belldinni Modern Interior Door">
					</div>
					<div class="ctlg__item_title">Della Vetro Gray Oak Belldinni Modern Interior Door</div>
					@@include("../ctlg-product-footer/ctlg-product-footer.html")
				</div>

				<div class="ctlg__item">
					<a class="ctlg__item_link" href="#"></a>
					<div class="ctlg__item_media img-box ctlg__item_media-door">
						<div class="ctlg__item_badges">
							<div class="ctlg__item_badge badge-stock">IN STOCK</div>
							<div class="ctlg__item_badge badge-sale">SALE XX%</div>
							<div class="ctlg__item_badge badge-hit">HIT</div>
							<div class="ctlg__item_badge badge-new">NEW</div>
						</div>
						<img class="ctlg__item_img" src="upld/smartpro_2v-min_01.jpg" alt="Della Vetro Gray Oak Belldinni Modern Interior Door">
					</div>
					<div class="ctlg__item_title">Della Vetro Gray Oak Belldinni Modern Interior Door</div>
					@@include("../ctlg-product-footer/ctlg-product-footer.html")
				</div>

				<div class="ctlg__item">
					<a class="ctlg__item_link" href="#"></a>
					<div class="ctlg__item_media img-box ctlg__item_media-door">
						<div class="ctlg__item_badges">
							<div class="ctlg__item_badge badge-stock">IN STOCK</div>
							<div class="ctlg__item_badge badge-sale">SALE XX%</div>
							<div class="ctlg__item_badge badge-hit">HIT</div>
							<div class="ctlg__item_badge badge-new">NEW</div>
						</div>
						<img class="ctlg__item_img"
							src="upld/smart_pro_flat-min_01.jpg"
							alt="Della Vetro Gray Oak Belldinni Modern Interior Door">
					</div>
					<div class="ctlg__item_title">Della Vetro Gray Oak Belldinni Modern Interior Door</div>
					@@include("../ctlg-product-footer/ctlg-product-footer.html")
				</div>

			</div>
		</div>
	</div>
</section>