<div class="colors">
	<div class="colors__title">Color options:</div>
	<div class="colors__wrap  js-fade">
		<div class="colors__tooltip  js-fade__content">white</div>
		<div class="colors__list  js-color-list">
			<span class="colors__item  colors__item--active  js-color-list__item  js-fade__toggle" data-text="white">
				<img src="img/color.png" alt="">
			</span>
			<a class="colors__item  js-color-list__item  js-fade__toggle" data-text="white 2" href="#">
				<img src="img/color.png" alt="">
			</a>
			<a class="colors__item  js-color-list__item  js-fade__toggle" data-text="white 3" href="#">
				<img src="img/color.png" alt="">
			</a>
			<a class="colors__item  js-color-list__item  js-fade__toggle" data-text="white 4" href="#">
				<img src="img/color.png" alt="">
			</a>
			<a class="colors__item  js-color-list__item  js-fade__toggle" data-text="white 5" href="#">
				<img src="img/color.png" alt="">
			</a>
			<a class="colors__item  js-color-list__item  js-fade__toggle" data-text="white 6" href="#">
				<img src="img/color.png" alt="">
			</a>
		</div>
	</div>
</div>