<div class="ctlg__footer">
	<div class="ctlg__item_cost">
		<div class="cost__label">Price from</div>
		<div class="cosnt__value">
			<span class="ctlg__item_price">$243.00</span>
			<span class="ctlg__item_price-prev">$304.00</span>
		</div>
	</div>
	<div class="ctlg__footer-btn">
		<div class="shoping__control">
			<div class="cart__item_counter counter js_counter">
				<span class="counter__button counter__button_minus js_counter_minus" data-action="minus" title="Remove One">-</span>
				<input type="text" value="1" data-min="1" data-max="100" class="counter__input js_counter_inpt">
				<span class="counter__button counter__button_plus js_counter_plus" data-action="plus" title="Add One">+</span>
			</div>
			<button type="button" class="btn btn-add-cart">
				<i class="icomoon-shopping-cart"></i>
				Add
			</button>
		</div>
	</div>
</div>