<div class="ctlg__footer">
	<div class="ctlg__item_cost">
		<div class="cost__label">Price from</div>
		<div class="cosnt__value">
			<span class="ctlg__item_price">$243.00</span>
			<span class="ctlg__item_price-prev">$304.00</span>
		</div>
	</div>
	<div class="ctlg__footer_color">
			<span class="color-title">Color:</span>
			<div class="color__wrap">

				<div class="color__elem-wrap active">
					<a href="#" class="color__elem ">
						<img class="color__elem-img" src="img/color.png" alt="">
					</a>
					<div class="color__elem-label">
						<div class="color__elem-label-wrap">
							<p>test test</p>
						</div>
					</div>
				</div>
				<div class="color__elem-wrap">
					<a href="#" class="color__elem">
						<img class="color__elem-img" src="img/color.png" alt="">
					</a>
					<div class="color__elem-label">
						<div class="color__elem-label-wrap">
							<p>test test</p>
						</div>
					</div>
				</div>
				<div class="color__elem-wrap">
					<a href="#" class="color__elem">
						<img class="color__elem-img" src="img/color.png" alt="">
					</a>
					<div class="color__elem-label">
						<div class="color__elem-label-wrap">
							<p>test test</p>
						</div>
					</div>
				</div>
				<div class="color__elem-wrap">
					<a href="#" class="color__elem">
						<img class="color__elem-img" src="img/color.png" alt="">
					</a>
					<div class="color__elem-label">
						<div class="color__elem-label-wrap">
							<p>test test</p>
						</div>
					</div>
				</div>
			</div>
	</div>
	<a href="#1" class="btn  hidden-lg  hidden-md  hidden-sm">Build a door</a>
</div>