<footer class="foo">
	<div class="wr">
		<div class="foo__nav">
			<div class="foo__col">
				<div class="foo__nav_block">
					<div class="foo__nav_title">Why by from us</div>
					<div class="foo__nav_cont">
						<ul class="foo__menu">
							<li class="foo__menu_item">
								<a class="foo__menu_link" href="#">Deals for Builders and Interior Designers</a>
							</li>
							<li class="foo__menu_item">
								<a class="foo__menu_link" href="#">Shipping & Returns</a>
							</li>
							<li class="foo__menu_item">
								<a class="foo__menu_link" href="#">Advantages</a>
							</li>
							<li class="foo__menu_item">
								<a class="foo__menu_link" href="#">Price Match</a>
							</li>
							<li class="foo__menu_item">
								<a class="foo__menu_link" href="#">2 years warranty</a>
							</li>
							<li class="foo__menu_item">
								<a class="foo__menu_link" href="#">Sale</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="foo__nav_block">
					<div class="foo__nav_title">My account</div>
					<div class="foo__nav_cont">
						<ul class="foo__menu">
							<li class="foo__menu_item">
								<a class="foo__menu_link" href="#">View Cart</a>
							</li>
							<li class="foo__menu_item">
								<a class="foo__menu_link" href="#">Help</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="foo__col">
				<div class="foo__nav_block">
					<div class="foo__nav_title">Information</div>
					<div class="foo__nav_cont">
						<ul class="foo__menu">
							<li class="foo__menu_item">
								<a class="foo__menu_link" href="#">Terms and Conditons</a>
							</li>
							<li class="foo__menu_item">
								<a class="foo__menu_link" href="#">Privacy Policy</a>
							</li>
							<li class="foo__menu_item">
								<a class="foo__menu_link" href="#">Career</a>
							</li>
							<li class="foo__menu_item">
								<a class="foo__menu_link" href="#">Search Terms</a>
							</li>
							<li class="foo__menu_item">
								<a class="foo__menu_link" href="#">Blog</a>
							</li>
							<li class="foo__menu_item">
								<a class="foo__menu_link" href="#">Advanced Search</a>
							</li>
							<li class="foo__menu_item">
								<a class="foo__menu_link" href="#">Orders and Returns</a>
							</li>
							<li class="foo__menu_item">
								<a class="foo__menu_link" href="#">Contact Us</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="foo__col foo__col-x1_5">
				<div class="foo__nav_block foo__nav_block-h">
					<div class="foo__nav_title">Contacts</div>
					<div class="foo__nav_cont">
						<a href="#" class="contact__item contact-loc">DoorDesignLab 970 New Brunswick Ave, Rahway NJ 07065 USA</a>
						<a href="tel:+1 (646) 506-4920" class="contact__item contact-ph">(646) 506-4920</a>
						<a href="mailto:info@doordesignlab.com" class="contact__item contact-mail">info@doordesignlab.com</a>
					</div>
				</div>
				<div class="foo__nav_block">
					<div class="foo__nav_title">Working hours</div>
					<div class="foo__nav_cont">
						<div class="contact__item contact-time">
							<div class="time__label">Call center and warehouse:</div>
							<div class="time__value">Mon - Fri 9:00 am - 6:00 pm EST</div>
						</div>
						<div class="contact__item contact-time">
							<div class="time__label">Showroom and office:</div>
							<div class="time__value">Mon - Fri: 9:00 am - 6:00 pm EST,<br>Sat and Sun: by arrangement only</div>
						</div>
					</div>
				</div>
			</div>
			<div class="foo__col foo__col-x2">
				<div class="foo__nav_block foo__nav_block-h">
					<div class="foo__nav_title">Subscribe to Newsletter</div>
					<div class="foo__nav_cont">
						<form action="#">
							<div class="subscr">
								<input class="subscr__input" type="email" name="subscr" placeholder="Email adress">
								<button class="subscr__btn btn" type="submit" class="">Subscribe</button>
							</div>
						</form>
					</div>
				</div>
				<div class="foo__nav_block">
					<div class="foo__nav_title">Follow Us</div>
					<div class="foo__nav_cont">
						<div class="soc">
							<a href="#" title="Folow us on FaceBook" class="soc__link soc__link-fb">
								<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<path d="M15.997 3.985h2.191V.169C17.81.117 16.51 0 14.996 0c-3.159 0-5.323 1.987-5.323 5.639V9H6.187v4.266h3.486V24h4.274V13.267h3.345l.531-4.266h-3.877V6.062c.001-1.233.333-2.077 2.051-2.077z"/>
								</svg>
							</a>
							<a href="#" title="Folow us on Instagram" class="soc__link soc__link-inst">
								<svg viewBox="0 0 512.001 512.001" xmlns="http://www.w3.org/2000/svg">
									<path d="M373.406 0H138.594C62.172 0 0 62.172 0 138.594V373.41C0 449.828 62.172 512 138.594 512H373.41C449.828 512 512 449.828 512 373.41V138.594C512 62.172 449.828 0 373.406 0zM256 395.996c-77.195 0-139.996-62.8-139.996-139.996S178.804 116.004 256 116.004 395.996 178.804 395.996 256 333.196 395.996 256 395.996zM399.344 149.02c-22.813 0-41.367-18.555-41.367-41.368s18.554-41.37 41.367-41.37 41.37 18.558 41.37 41.37-18.558 41.368-41.37 41.368zm0 0"/>
									<path d="M256 146.02c-60.64 0-109.98 49.335-109.98 109.98 0 60.64 49.34 109.98 109.98 109.98 60.645 0 109.98-49.34 109.98-109.98 0-60.645-49.335-109.98-109.98-109.98zm0 0M399.344 96.3c-6.258 0-11.352 5.095-11.352 11.352 0 6.258 5.094 11.352 11.352 11.352 6.261 0 11.355-5.09 11.355-11.352 0-6.261-5.094-11.351-11.355-11.351zm0 0"/>
								</svg>
							</a>
							<a href="#" title="Folow us on YouTube" class="soc__link soc__link-yt">
								<svg viewBox="-21 -117 682.667 682" xmlns="http://www.w3.org/2000/svg">
									<path d="M626.813 64.035c-7.375-27.418-28.993-49.031-56.407-56.414C520.324-6.082 319.992-6.082 319.992-6.082s-200.324 0-250.406 13.184c-26.887 7.375-49.031 29.52-56.406 56.933C0 114.113 0 217.97 0 217.97s0 104.379 13.18 153.933c7.382 27.414 28.992 49.028 56.41 56.41C120.195 442.02 320 442.02 320 442.02s200.324 0 250.406-13.184c27.418-7.379 49.032-28.992 56.414-56.406 13.176-50.082 13.176-153.934 13.176-153.934s.527-104.383-13.183-154.46zM256.21 313.915V122.022l166.586 95.946zm0 0"/>
								</svg>
							</a>
							<a href="#" title="Folow us on Houzz" class="soc__link soc__link-hz">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
									<path d="M256 341.312V512l160-85.344V256zM256 0L96 85.312v341.376l160-85.376L96.032 256 256 170.656zM256 170.688L416 256V85.312z"/>
								</svg>
							</a>
							<a href="#" title="Folow us on Pinterest" class="soc__link soc__link-pin">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 438.529 438.529">
									<path d="M409.141 109.203c-19.608-33.592-46.205-60.189-79.798-79.796C295.751 9.801 259.065 0 219.281 0 179.5 0 142.812 9.801 109.22 29.407c-33.597 19.604-60.194 46.201-79.8 79.796C9.809 142.8.008 179.485.008 219.267c0 44.35 12.085 84.611 36.258 120.767 24.172 36.172 55.863 62.912 95.073 80.232-.762-20.365.476-37.209 3.709-50.532l28.267-119.348c-4.76-9.329-7.139-20.93-7.139-34.831 0-16.175 4.089-29.689 12.275-40.541 8.186-10.85 18.177-16.274 29.979-16.274 9.514 0 16.841 3.14 21.982 9.42 5.142 6.283 7.705 14.181 7.705 23.7 0 5.896-1.099 13.084-3.289 21.554-2.188 8.471-5.041 18.273-8.562 29.409-3.521 11.132-6.045 20.036-7.566 26.692-2.663 11.608-.476 21.553 6.567 29.838 7.042 8.278 16.372 12.423 27.983 12.423 20.365 0 37.065-11.324 50.107-33.972 13.038-22.655 19.554-50.159 19.554-82.514 0-24.938-8.042-45.21-24.129-60.813-16.085-15.609-38.496-23.417-67.239-23.417-32.161 0-58.192 10.327-78.082 30.978-19.891 20.654-29.836 45.352-29.836 74.091 0 17.132 4.854 31.505 14.56 43.112 3.235 3.806 4.283 7.898 3.14 12.279-.381 1.143-1.141 3.997-2.284 8.562-1.138 4.565-1.903 7.522-2.281 8.851-1.521 6.091-5.14 7.994-10.85 5.708-14.654-6.085-25.791-16.652-33.402-31.689-7.614-15.037-11.422-32.456-11.422-52.246 0-12.753 2.047-25.505 6.14-38.256 4.089-12.756 10.468-25.078 19.126-36.975 8.663-11.9 19.036-22.417 31.123-31.549 12.082-9.135 26.787-16.462 44.108-21.982s35.972-8.28 55.959-8.28c27.032 0 51.295 5.995 72.8 17.986 21.512 11.992 37.925 27.502 49.252 46.537 11.327 19.036 16.987 39.403 16.987 61.101 0 28.549-4.948 54.243-14.842 77.086-9.896 22.839-23.887 40.778-41.973 53.813-18.083 13.042-38.637 19.561-61.675 19.561-11.607 0-22.456-2.714-32.548-8.135-10.085-5.427-17.034-11.847-20.839-19.273-8.566 33.685-13.706 53.77-15.42 60.24-3.616 13.508-11.038 29.119-22.27 46.819 20.367 6.091 41.112 9.13 62.24 9.13 39.781 0 76.47-9.801 110.062-29.41 33.595-19.602 60.192-46.199 79.794-79.791 19.606-33.599 29.407-70.287 29.407-110.065.01-39.778-9.777-76.468-29.376-110.06z"/>
								</svg>
							</a>
						</div>
						<div class="shop-rating">
							<div class="rating">
								<div class="rating__val">
									<div class="rating__strs">
										<i class="icomoon-star"></i>
										<i class="icomoon-star"></i>
										<i class="icomoon-star"></i>
										<i class="icomoon-star"></i>
										<i class="icomoon-star-half-o"></i>
									</div>
									<div class="rating__txt">4,6</div>
								</div>
								<div class="rating__lbl">Rating based on opinion 27 reviews</div>
							</div>
							<div class="ssl img-box">
								<img src="img/ssl.png" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="foo__copy">
			<div class="copy">© 2017 - 2020 DoorDesignLab. All rights on images and pictures of the products represented on this website belongs to
				their respective owners. Due to monitor differences, actual colors may vary from what appears online. Contact us for color samples
				if you need help selecting a finish.
			</div>
			<div class="sqrty-tags">
				<a class="sqrty-tag" href="#">
					<img src="img/logo-visa.png" alt="we accept">
				</a>
				<a class="sqrty-tag" href="#">
					<img src="img/logo-discover-2.png" alt="we accept">
				</a>
				<a class="sqrty-tag" href="#">
					<img src="img/logo-mastercard-2.png" alt="we accept">
				</a>
				<a class="sqrty-tag" href="#">
					<img src="img/logo-american-express.png" alt="we accept">
				</a>
			</div>
			<div class="copy_mob">
				© 2017 - 2020 DoorDesignLab.
			</div>
		</div>
	</div>
	<div class="scroll-top  js-scroll-top"></div>
</footer>