<div class="radio-block">
	<div class="radio-block__grid">
		<div class="radio-block__cell">
			<label class="radio-block__item">
				<input type="radio" class="radio-block__input" name="test-radio" value="" checked>
				<span class="radio-block__content">
					<span class="radio-block__caption">Credit Card</span>
					<span class="radio-block__img">
						<img src="img/radio-block__1.png" alt="">
					</span>
				</span>
			</label>
		</div>
		<div class="radio-block__cell">
			<label class="radio-block__item">
				<input type="radio" class="radio-block__input" name="test-radio" value="">
				<span class="radio-block__content">
					<span class="radio-block__caption">Affirm</span>
					<span class="radio-block__img">
						<img src="img/radio-block__2.png" alt="">
					</span>
				</span>
			</label>
		</div>
		<div class="radio-block__cell">
			<label class="radio-block__item">
				<input type="radio" class="radio-block__input" name="test-radio" value="">
				<span class="radio-block__content">
					<span class="radio-block__caption">Bank Transfer</span>
					<span class="radio-block__img">
						<img src="img/radio-block__3.png" alt="">
					</span>
				</span>
			</label>
		</div>
		<div class="radio-block__cell">
			<label class="radio-block__item">
				<input type="radio" class="radio-block__input" name="test-radio" value="">
				<span class="radio-block__content">
					<span class="radio-block__caption">Check/Money order</span>
					<span class="radio-block__img">
						<img src="img/radio-block__4.png" alt="">
					</span>
				</span>
			</label>
		</div>
	</div>
</div>